<header>
<div>
<h1>Sign up to get paid</h1>
</div>
<nav>
<h1>Create Your Stripe Account</h1>
</nav></header>
<div>
<section>
<h2>Connect your Datonate account to Stripe</h2>
<p>We use Stripe to make sure you get paid on time and keep your personal and bank details secure.</p>
<a href="stripe/authorize">Setup Payments on Stripe</a></section>
</div>
<footer>
<div>
<p>This platform uses <a href="https://stripe.com/connect/account-types">Connect Express</a> accounts to pay its users.</p>
</div>
</footer>
