<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>View Experiments</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="dashboard.html">
                        Welcome Admin!
                    </a>
                </li>
                <li>
                    <a href="/upload">Upload Datasets</a>
                </li>
                <li>
                    <a href="/viewdataset">View Datasets</a>
                </li>
                <li>
                    <a href="/create">Create Experiments</a>
                </li>
                <li>
                    <a href="/viewexp">View Experiments</a>
                </li>
                <li>
                    <a href="settings.html">Settings</a>
                </li>
                <li>
                    <a href="/logout">logout</a>
            </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Experiments</h1>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Description</th>
                        <th>Id</th>
                        <th>Price</th>
                        <th>Pause/Resume</th>
                    </tr>
                </thead>
                <tbody>
                  {% for i in  value['experiments']%}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ i['description'] }}</td>
                    <td>{{ i['id'] }}</td>
                    <td>{{ i['price'] }}</td>
                    <td><button type="button" class="btn btn-default">Pause</button></td>
                </tr>
                    {% endfor %}
            </tbody>
        </table>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>

</html>
